.last-updated-header {
    color: #008000;
    font-weight: 600;
    font-size: 0.6rem;
}

.last-updated-time {
    color: #008000;
    font-weight: 600;
    font-size: 0.7rem;
    text-transform: uppercase;
}

@media (max-width: 575px) {
    .dashboard-header-col.title {
        word-wrap: break-word;
        max-width: 60%;
    }

    .dashboard-header-col.time {
        word-wrap: break-word;
        max-width: 40%;
    }
}