.stats-card-country-name {
    font-weight: 700;
    font-size: 0.8rem;
}

.country-stats {
    margin-top: 0.7em;
}


@media (max-width: 575px) {
    .country-stats-card-wrapper {
        width: auto;
    }
}

@media (min-width: 385px) and (max-width: 575px){
    .country-stats-card-title {
        font-size: 0.7rem;
    }
    .country-stats-card-count {
        font-size: 0.9rem;
    }
    .country-stats-card-wrapper {
        padding: 0.6em;
    }
}

@media (min-width: 348px) and (max-width: 384px) {
    .country-stats-card-title {
        font-size: 0.6rem;
    }
    .country-stats-card-count {
        font-size: 0.8rem;
    }

    .country-stats-card-wrapper {
        padding: 0.6em;
    }
}

@media (max-width: 347px) {
    .country-stats-card-title {
        font-size: 0.6rem;
    }
    .country-stats-card-count {
        font-size: 0.7rem;
    }
    .country-stats-card-wrapper {
        padding: 0.4em;
    }
}