.country-table-title {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px;
}

.affected-countries-count {
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.country-table-wrapper {
    height: 350px;
    overflow-y: scroll;
    padding: 0.3em;
}

.country-table-header {
    font-weight: 600;
}

@media (max-width: 575px) {
    .affected-countries-count {
        font-size: 0.6rem;
    }

    .country-table-header {
        font-size: 0.6rem;
    }
    
    .rdt_TableCell, .rdt_TableCol {
        min-width: 0px !important;
        max-width: 20% !important;
        font-size: 0.5rem !important;
    }
}