.country-table-cell {
    font-size: 0.7rem;
}

.country-table-header {
    font-size: 0.8rem;
}

@media (max-width: 575px) {
    .country-table-cell {
        font-size: 0.6rem;
    }

    .country-table-header {
        font-size: 0.7rem;
    }
}