.container {
    margin-top: 15px;
}
.color-confirmed {
    color: #FF073A;
}

.color-active {
    color: #007BFF;
}

.color-recovered {
    color: #28A745;
}

.color-deceased {
    color: #6C757D;
}

.bg-color-confirmed {
    background-color: #FEE1E1;
}

.bg-color-active {
    background-color: #F3F4FF;
}

.bg-color-recovered {
    background-color: #E1F2E8;
}

.bg-color-deceased {
    background-color: #F6F6F7;
}