a {
    text-decoration: none !important;
}

.text-confirmed {
    color: #FF073A;
    font-weight: 700 !important;
}

.text-active {
    color: #007BFF;
    font-weight: 700 !important;
}

.text-recovered {
    color: #28A745;
    font-weight: 700 !important;
}

.text-deceased {
    color: #6C757D;
    font-weight: 700 !important;
}

.dark-theme {
    background-color: #000000;
}